* {
  box-sizing: border-box;
}

body{
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top center;
}

h2 {
  font-family: 'Silkscreen', cursive;
  font-size: 50px;
}

.game-zone {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  min-height: 97vh;
  padding: 0;
  margin: 0;
  background-image: url(../sprites/tileGrass1.png);
  font-weight: bold;
  
}

.player {
  position: absolute;
  width: 82px;
  height: 79px;
  background-image: url(../sprites/tank_blue-top.png);
  background-repeat: no-repeat;
}

.bullet {
  position: absolute;
  width: 16px;
  height: 26px;
  background-image: url(../sprites/bulletBlue2_top.png);
  background-repeat: no-repeat
}

.enemy-bullet {
  position: absolute;
  width: 16px;
  height: 26px;
  background-image: url(../sprites/bulletRed2_top.png);
  background-repeat: no-repeat
}

.enemy {
  position: absolute;
  width: 85px;
  height: 79px;
  background-image: url(../sprites/enemy_tank_red-right.png);
  background-repeat: no-repeat;
}

.panel {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  align-items: center;
}

.info {
  width: 300px;
  padding: 20px;
  border: 2px solid #000;
  margin-right: 20px;
  position: absolute;
  
}

.life_image {
  width: 100px;
  margin-left: 360px;
  margin-top: 10px;
  
}

span {
  text-transform: uppercase;
  font-size: 20px;

}

.points {
  display: block;
}

.game-over {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 97vh;
  z-index: 999;
  transition: 0,5s ease;
}

.game-over.on {
  opacity: 1;
  visibility: visible;
  transition: 0,5s ease;
}

.blur {
  position: absolute;
  width: 100%;
  height: 97vh;
  background-image: url(../sprites/bg-game-over2.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.game-over-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.game-over-info > span {
  display: block;
  font-size: 72px;
  animation-iteration-count: infinite;
  animation-name: anim;
  animation-duration: 1s;
}

.game-over-info > a {
  color: #ffffff;
}

@keyframes anim {
  0% {
    color: #000;
  }
  50% {
    color: red;
  }
  100% {
    color: #000;
  }
}

.eagle {
  position: absolute;
  background-image: url(../sprites/eagle.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 75px;
  left: 300px;
  top: 300px;
}

@keyframes animExplosion
{
    from { background: url(../sprites/explosions.png) 0 0; }
    to { background: url(../sprites/explosions.png) -700px 0; } /* 700-140=560 */
}

.ex2
{
    width: 140px;
    height: 126px;
    animation: animExplosion 0.5s steps(5);
    position: absolute;
    left: 100px;
    top: 100px;
}

.transf-wrap {
  display: inline-block;
  width: 100%;
  margin: 0 auto 0 auto;
  transition: all 2s ease-in-out;
  transform: translateY(20%);
}

.start-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waves-effect{
  width: 300px;
  height: 50px;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Silkscreen', cursive;
  font-weight: bolder;
}

.btn-large {
  font-family: 'Silkscreen', cursive;
  font-weight: bolder;
  background-color: #72d6fa;
  border-color:#72d6fa;

}

.waves-light {
  font-family: 'Silkscreen', cursive;
  font-weight: bolder;
}

.game-backgrounds{
  display: flex;
  justify-content: center;
}

.game-backgrounds li img{
  width: 200px;
  margin: 10px;
  transition: 0.5s;
}

.game-backgrounds li {
  list-style-type: none;
}

.game-backgrounds li img:hover{
  transform: scale(1.1);
}

.setting {
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
}
.game-setting{
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
}
.game-setting p{
  color: #9e9e9e;
}

.game-setting:last-child{
  border-bottom: none;
}
